* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.container {
  background-color: #222;
  height: 400px;
  width: 100%;
  /*color: white;*/
  font-size: 36px;
  display: flex;
  /*displa:inline-flex*/
  flex-direction: row;
  /*flex-direction: row-reverse;*/
  /* flex-direction: column; */
  /*flex-direction: column-reverse;*/
  /* flex-wrap: nowrap;
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
  flex-flow: row wrap; */
  /* justify-content: flex-start;
  justify-content: flex-end;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly;
  justify-content: start;
  justify-content: end; */
  /*justify-content: left;
  justify-content: right;*/
  /* align-items: stretch; */
  align-items: center;
  align-items: baseline;
  align-content: flex-start;
  /* align-content: flex-end; */
  /* align-content: center; */
  /* align-content: space-between; */
  align-content: space-evenly;
}

.item {
  width: 200px;
  /*height: 250px; */
  background-color: #c2c2c2;
  color: black;
  border: 2px solid black;

}

.item:nth-child(2n) {
  font-size: 36px;
}

.orden1 {
  /* order: 2; */
  /* flex-grow: 0; */

}

.orden2 {
  /* order: 3; */
  /* flex-grow: 0; */
}

.orden3 {
  /* order: 1; */
  /* flex-grow: 1; */
  /* flex-shrink: 3; */
  align-self: auto;
  align-self: flex-start;
  align-self: flex-end;
  align-self: center;
}